<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Statistiques</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-item>
            <ion-label>Projet</ion-label>
            <ion-select ok-text="Okay" [(ngModel)]="key" (ngModelChange)="get()"  cancel-text="Nah">
                <ion-select-option *ngFor="let projet of projects"  value='{{projet.key}}'>{{projet.payload.nameProject}}</ion-select-option>
            </ion-select>
        </ion-item>


<div ><ion-card>
            <ion-card-header>Taches statistique
            </ion-card-header>
            <ion-card-content>
                <h1 *ngIf="!key" class="text-center">No Project Selected</h1>

                <canvas #barCanvas></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Projets  statistique
            </ion-card-header>
            <ion-card-content >
                <h1  class="text-center" *ngIf="!key">No Project Selected</h1>

                <canvas #doughnutCanvas></canvas>
            </ion-card-content>
        </ion-card>
</div>

    </div>
</ion-content>
