<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>TEAM</ion-title>
    </ion-toolbar>

</ion-header>



<ion-content>


    <div class="row sticky-top bg-white">
        <div class="col-6">
            <h1 class="p-2" style="font-family: 'Girassol', cursive;
">Taches</h1>
        </div>
        <div class="col-6">
            <div class="float-right p-4">
                <button  color="primary" routerLink="./545/add-tache" mat-mini-fab >
                    <mat-icon>add</mat-icon>
                </button>


            </div>

        </div>
        <div class="w100 ">
            <mat-form-field class="w100 pl-5 pr-5">
                <mat-icon matSuffix>search</mat-icon>
                <input type="text" placeholder="Search Tache" matInput [formControl]="myControl">
            </mat-form-field>
        </div>
        <mat-autocomplete>
            <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </div>

    <mat-divider>
    </mat-divider>


    <mat-expansion-panel *ngFor="let tache of tabs" class="mt-2 mb-1">
        <mat-expansion-panel-header >

                <ion-row>
                    <ion-item>
                    <ion-col class="mt-2">

                        <ngx-avatar   name="{{tache.fullName}}" size="35"></ngx-avatar>

                    </ion-col>



</ion-item>



                    <ion-col class="float-right mt-3" >

                        <p class="d-inline" >{{tache.fullName}}</p>
                    </ion-col>


                </ion-row>

        </mat-expansion-panel-header>



        <div class="mt-3">
            description

        </div>
        <mat-action-row>
            <button (click)="alert(tache.key)" mat-button color="warn"><mat-icon>delete</mat-icon></button>

        </mat-action-row>

    </mat-expansion-panel>

</ion-content>
<ion-footer  class="text-right p-2 sticky-top">
    <button  color="primary" routerLink="./add-projet" mat-mini-fab >
        <mat-icon>info</mat-icon>
    </button>

</ion-footer>
