<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>App Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="bg-profile">
    <ion-avatar slot="start">

      <img *ngIf="this.user.photo" [src]="this.user.photo" class="user-avatar">
        <ngx-avatar *ngIf="!this.user.photo" name="{{this.updateUser.controls['fullName'].value}}" size="35"></ngx-avatar>

    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>{{this.updateUser.controls['fullName'].value}} </strong>
        </h2>
      </ion-text>
      <ion-text color="tertiary">
        <h3>
{{this.updateUser.controls['email'].value}}        </h3>
      </ion-text>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        Modifier photo
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>General</h5>
      </ion-text>
    </ion-list-header>
      <form [formGroup]="updateUser" (ngSubmit)="updateProfile()">

      <ion-item>
          <ion-label position="stacked">Nom complet <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="fullName" required type="text" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email"  type="text" ></ion-input>
      </ion-item>
          <section class="full-width">
              <ion-button  type="submit" expand="full" color="secondary">enregistrer</ion-button>
          </section>
      </form>
  </ion-list>
    <form [formGroup]="updatePassword" (ngSubmit)="updatePass()">



  <ion-list>
      <section class="full-width">
          <ion-button expand="full" type="submit" color="primary">changer mot de passe</ion-button>
      </section>
      <section class="full-width">
          <button  mat-raised-button  class="btn-block" color="warn" (click)="logout()" expand="full" >Deconexion</button>
      </section>
  </ion-list>
    </form>

</ion-content>
