<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ChatRoom</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list no-lines>
        <div *ngFor="let message of messagesList">
            <div *ngIf="this.username===message.name">

                <ngx-avatar  class="me bg-transparent" name="{{message.name}}" size="35"></ngx-avatar>

                <div class="bubble me ">

                    <p style="font-size: 10px"> {{message.name}}</p>
                    {{ message.message }}
                </div>
            </div>
            <div style="clear:both"></div>
            <div >
                <ngx-avatar *ngIf="message.name!==this.username" class="you bg-transparent" name="{{message.name}}" size="35"></ngx-avatar>

                <div *ngIf="message.name!==this.username" class="bubble you">

                    <p style="font-size: 10px"> {{message.name}}</p>
                    {{ message.message }}
                </div>
            </div>
            <div style="clear:both"></div>

        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-item>
        <ion-input style="border: #2e256d 2px solid" type="text" placeholder="type here..." [(ngModel)]="newmessage"></ion-input>
        <button ion-button clear item-right (click)="send()"><mat-icon color="primary">send</mat-icon></button>

    </ion-item>
</ion-footer>
