<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Project</ion-title>
    </ion-toolbar>

</ion-header>
<mat-card>
    <form [formGroup]="editProject" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Project Name</ion-label>
            <ion-input type="text" formControlName="nameProject"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-input type="text" formControlName="description" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Team Group</ion-label>
            <ion-select [multiple]="true"  formControlName="team">


                <ion-select-option *ngFor="let membre of dev" value="{{membre.key}}">{{membre.payload.fullName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Client</ion-label>
            <ion-select   formControlName="client"
            >
                <ion-select-option *ngFor="let client of clients" value="{{client.key}}"> {{client.payload.fullName}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime value="1990-02-19" formControlName="startDate" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Ends</ion-label>
            <ion-datetime value="1990-02-20" formControlName="endDate" placeholder="Select Date"></ion-datetime>
        </ion-item>


        <ion-item class="text-center ">
            <div class="text-center">

                <ion-button  type="submit" size="small" [disabled]="!editProject.valid" >Save</ion-button>
                <ion-button size="small" color="tertiary">Cancel</ion-button>
            </div>
        </ion-item>
    </form>
</mat-card>


<ion-content>


</ion-content>
