<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Taches</ion-title>
    </ion-toolbar>




</ion-header>



<ion-content >
    <!-- Icon end -->


    <div class="row sticky-top bg-white">
        <div class="col-6">
            <h1 class="p-2" style="font-family: 'Girassol', cursive;
">Tâche </h1>
        </div>
        <div class="col-6">
            <div class="float-right p-4">



            </div>

        </div>
<div class="w100 ">
        <mat-form-field class="w100 pl-5 pr-5">
            <mat-icon matSuffix>search</mat-icon>
            <input type="text" placeholder="Search Tache" (ngModelChange)="filterItem()" matInput [formControl]="myControl">
        </mat-form-field>
</div>

    </div>

    <mat-divider>
    </mat-divider>

    <ion-card *ngIf="this.taches.length===0">
        <ion-img style="width: 100%; height:100px" src="https://i.imgur.com/FPC6uwX.jpg"></ion-img>
    </ion-card>

    <mat-expansion-panel *ngFor="let tache of taches" class="mt-2 mb-1" (click)="setProgress(tache)">
        <mat-expansion-panel-header  >
            <ion-grid>
                <ion-row>
                    <ion-col class="mt-2">

                        <ngx-avatar   name="{{tache.payload.nameTache}}" size="35"></ngx-avatar>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                <small class="text-muted p-2">{{tache.payload.description}}</small>
                            </ion-label>

                        </ion-item>

                    </ion-col>

                </ion-row>
            </ion-grid>
        </mat-expansion-panel-header>



        <div class="mt-3">
description

            <p>{{tache.payload.description}}.</p>
                <ion-col>
                    <mat-form-field>

                    <input type="number" [(ngModel)]="progress"     min="0"  [max]="100" matInput placeholder="progression">
                    </mat-form-field>
                </ion-col>
                <ion-col>
                </ion-col>
        </div>
        <mat-action-row>
            <button mat-raised-button color="primary" (click)="updateProgress(tache.key)">save progression</button>

        </mat-action-row>

    </mat-expansion-panel>

</ion-content>







