<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Tache</ion-title>
    </ion-toolbar>

</ion-header>
<mat-card>
    <form [formGroup]="editTache" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Tache Name</ion-label>
            <ion-input type="text" formControlName="nameTache"></ion-input>
        </ion-item>
        <ion-item slot="end">
            <ion-label>Description</ion-label>
            <ion-input type="text" formControlName="description" ></ion-input>
        </ion-item>







        <ion-item class="text-center ">
            <div class="text-center">

                <ion-button type="submit" size="small" [disabled]="!editTache.valid" >Save</ion-button>
                <ion-button size="small" color="tertiary">Cancel</ion-button>
            </div>
        </ion-item>
    </form>
</mat-card>


<ion-content>


</ion-content>
