<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add Project</ion-title>
    </ion-toolbar>

</ion-header>
<mat-card>
    <form [formGroup]="addProject" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>room Name</ion-label>
            <ion-input type="text" formControlName="roomName" ></ion-input>
            <mat-error *ngIf="nameError">{{nameError}}</mat-error>
        </ion-item>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-input type="text" formControlName="description" (ionFocus)="test()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Team Group</ion-label>
            <ion-select [multiple]="true"  formControlName="team">


                <ion-select-option *ngFor="let membre of dev" value="{{membre.key}}">{{membre.payload.fullName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Client</ion-label>
            <ion-select   formControlName="client"
            >
                <ion-select-option *ngFor="let client of clients" value="{{client.key}}"> {{client.payload.fullName}}</ion-select-option>
            </ion-select>
        </ion-item>




        <ion-item class="text-center ">
            <div class="text-center">

                <ion-button type="SUBMIT" size="small" [disabled]="!addProject.valid" >Save</ion-button>
                <ion-button size="small"   color="tertiary">Cancel</ion-button>
            </div>
        </ion-item>
    </form>
</mat-card>


<ion-content>


</ion-content>
